body {
  background-color: black;
  color: white;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

.site {
  margin: 5%;
}

.title {
  margin: 1%;
  font-size: 45px;
  text-shadow: 3px 3px 5px orange;
  /* position: relative; */
}

.productList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.productItem {
  width: 250px;
  height: auto;
  margin: 10px;
  border: 2px solid orange;
}

.productItem:hover {
  cursor: pointer;
  border: 2px solid white;
}

.productItem * {
  margin: 5px;
}

.productImg {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.productImg.hover {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.searchBar {
  margin: 5px;
  min-width: 97%;
  height: 50px;
  padding-left: 15px;
  font-size: 30px;
  border: 3px solid orange;
}

/* product detail */
.productDetail {
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: black;
  border: 3px solid orange;
  width: 650px;
  height: 650px;
}

.productDetail * {
  margin: 1%;
}

.productDetail>.productImg {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

button {
  background-color: orange;
  cursor: pointer;
  color: white;
  border: orange;
}

.cartIcon {
  width: 50px;
  height: 50px;
  background: orange;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0.1%;
  border-radius: 50%;
}

.cartIcon:hover{
  cursor: pointer;
  width: 55px;
  height: 55px;
}

.cartIcon>img {
  width: 40px;
}

.cartList{
  border: 10px solid orange;
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  position: fixed;
  left: 10%;
  top: 25%;
  z-index: 999;

}

.cartList *{
  margin: 5px;
}

.listItem{
  display: flex;
  flex-direction: row;
}

.listItemImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

